
@import'~office-ui-fabric-react/dist/sass/References.scss';

nav[role='navigation'] {
    display: none !important;
}
div[class^='searchBox_'] {
    display: none !important;
}

div[class^='spInnerCommentsWrapper_'] {
  display: none !important;
}


div[class^='pageContainer_'] {
    left: 0 !important;
}

div[class^='spNav_'] {
  display: none !important;
}

div[class^='pageTitle_'] {
  display: none !important;
}

div[class^='headerRow-'] {
  display: none !important;
}

div[class='commandBarWrapper'] {
  display: none !important;
}

div[class^='ms-Pivot'] {
  background: #1cb7ea !important;
  padding: 10px 10px 0;
  overflow: 'auto';
  
  button {
     color: white !important;
     &::before {
      border-bottom: unset;
    }
    div {
      justify-content: center;
    }
     span {
      opacity: 0.90;
     }
     &:hover {
      span {
        opacity: 1;
       }
     }
  }
  button[aria-selected='true'] {
    color: #276ead !important;
    background-color: white !important;
    span {
      opacity: 1;
    }
  }
}

// div[class='CanvasZone'] {
//   max-width:  none !important;
// }

// div[class='SPCanvas-canvas'] {
//   max-width:  none !important;
// }